h1{
color:red
}
body{
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}

